* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#carousel #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.image {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 80vh;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
  height: 100%;
  position: absolute;
  color: white;
}

.advertise p {
  margin: 20px 0;
}

.advertise .advertise-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 100%;
}

.advertise .advertise-buttons-container .advertise-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid white;
  height: 100%;
  width: 40%;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 0.1s;
  transition: -webkit-transform ease-in 0.1s;
  transition: transform ease-in 0.1s;
  transition: transform ease-in 0.1s, -webkit-transform ease-in 0.1s;
}

.advertise .advertise-buttons-container .advertise-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  .advertise-buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advertise-buttons-container .advertise-button {
    width: 100% !important;
    margin-bottom: 15px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in 0.1s;
  transition: -webkit-transform ease-in 0.1s;
  transition: transform ease-in 0.1s;
  transition: transform ease-in 0.1s, -webkit-transform ease-in 0.1s;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button img:focus {
  outline: 0;
}

.right-direction {
  right: 25px;
}

.left-direction {
  left: 25px;
}

.img-right {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.img-left {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.filmtrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  width: 100vw;
}

.thumbnail {
  height: 90%;
  width: 20vw;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.thumbnail img.active {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
/*# sourceMappingURL=index.css.map */